@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
body {
  margin: 0;
  height: 90vh;
  background-color:#63076b;
}
ul {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  width: 100%;
}
strong{
  font-size: 15px;
}
li{
  font-size: 16px;
}
img{
  width: 200px;
}
h1{
  margin: 0;
  font-size: 50px;
  font-family: 'DynaPuff', cursive;
}
h3 {
  text-align: center;
}
input {
  background-color:#e62ff7 ;
  width: 350px ;
  position: relative;
  display: inline-block;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 10px;

}
input[type="text"]{
  padding: 0 25px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
button{
  border: 0;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background-color: #e62ff7;
  cursor: pointer;
  transition: transform, .100s ease-in-out;
}
button:hover{
  filter: brightness(1.2);
  transform: scale(1.05);
  
}

.App{
  margin: 0;
  padding:  0 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}


.header{
  width: 550px;
  margin: 1px solid black;
  text-align: center;
  background-color:#e62ff7;
  border-radius: 9px;
  
}
.header-info{
  display: flex;
  justify-content: space-around;
}
.residents{
  font-family: 'DynaPuff', cursive;
  font-size: 30px;
}
.card {
  display: flex;
  width: 550px;
  height: 170px;
  border-radius: 15px;
  background-color: #e62ff7;
  overflow: hidden;
}
.card-status{
  display: flex;
  align-items: center;
  gap: 10px;
}
.circleA{
  background-color: green;
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%
}
.circleD{
  background-color: rgb(255, 0, 0);
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%
}
.card-info {
  text-align:start ;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content:center ;
}
.main {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  gap: 45px;
  padding: 30px;
}